*.iml
*.png
*.docx
*.xlsx
*.pptx
*.mxl
*.epf
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.name
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/other.xml
/.idea/migrations.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/app/debug
/app/release
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
